<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {productCardCss: 'productCard',
  allProductsCss: 'allProducts'}) %>
  <body class="container-all-products">
    <%- include('./partials/header.ejs') %>
    <main>
      <% if (products.length ) { %>

      <h2 class="subtitle-allProduct"><%= category && category.name ? category.name : 'Todos los productos' %></h2>
      <section class="products-items">
        <% products.forEach(product => { %> <%-
        include('./partials/productCard.ejs', {product}) %> <% }) %>
      </section>
      <% } else { %>
      <h2 class="subtitle-allProduct">No hay productos</h2>
      <% } %>
       
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
