<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {homeCss: 'home', productCardCss: 'productCard'}) %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <!-- seccion carrousel con html y css que se deslicen las imagenes de manera horizontal -->
      <section class="container-carrousel">
        <article class="card-carrousel">
          <img
            src="https://levisarg.vtexassets.com/assets/vtex.file-manager-graphql/images/9375e804-f8ac-4dfb-a471-a61d94482a28___993925b0798de2dcac386077877a593a.gif"
            alt="1"
          />
        </article>
        <article class="card-carrousel">
          <img
            src="https://levisarg.vtexassets.com/assets/vtex.file-manager-graphql/images/46c93079-3300-4741-b412-34de7e52e79f___8f8ccd96c7448481e2b22fc5d5252084.png"
            alt="1"
          />
        </article>
        <article class="card-carrousel">
          <img
            src="https://levisarg.vtexassets.com/assets/vtex.file-manager-graphql/images/d7355aa5-6f32-42d7-8a7b-bd468ea01945___64321e8cd77fbe75020cb2928427a68e.png"
            alt="1"
          />
        </article>
      </section>
      <!-- seccion de productos destacados -->
      <section class="container-destacados">
        <h2>Productos Destacados</h2>
        <!-- traer 3 productos de products.jon y mostrarlos con tags ejs -->
        <section class="container-productCard">
          <% products.forEach(product => { %>
            <%- include('./partials/productCard.ejs',  {product: product}) %>
          <% }) %>
        </section>
      </section>
      <div class="container-banner">
          <img src="/assets/images/bannerlevis.jpg" alt="bannerlevis">
      </div>

      <section class="container-components">
        <div class="component-box component-pickup">   
          <i class="fa-solid fa-house-flag"></i>
          <h3>PICK UP POINT</h3>
          <p>Retirá tu compras sin costo en locales seleccionados. Podés ver los locales habilitados al momento de finalizar tu compra.</p>
        </div>
        <div class="component-box component-return">   
          <i class="fa-solid fa-shirt"></i>
          <h3>DEVOLUCIONES GRATUITAS</h3>
          <p>Puedes cambiar tus compras en un plazo de 30 días.
            No se aceptan cambios de ropa interior.</p>
        </div>
        <div class="component-box component-payment">   
          <i class="fa-solid fa-unlock-keyhole"></i>
          <h3>PAGOS FLEXIBLES Y SEGUROS</h3>
          <p>Paga con tranquilidad en nuestros servicios online seguros.</p>
        </div>
      </section>

      <section class="container-destacados">
        <h2>Ofertas</h2>
        <!-- traer 3 productos de products.jon y mostrarlos con tags ejs -->
        <section class="container-productCard">
          <% products.forEach(product => { %>
            <%- include('./partials/productCard.ejs',  {product: product}) %>
          <% }) %>
        </section>
      </section>
      
    </main>
      <%- include('./partials/footer.ejs') %>
  </body>
</html>
