<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {loginCss: 'login' }) %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form class="form-login" id="form-login"action="/user/login" method="POST">
        <div class="input-group">
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email"
            value="<%= locals.old && locals.old.email ? locals.old.email : '' %>"
            class="<%= locals.errors && locals.errors.email ? 'is-invalid' : '' %>"
          />
          <% if (locals.errors && locals.errors.email) { %>
          <div id="emailError" class="error"><%= locals.errors.email.msg %></div>
          <% } %>
          <div id="errores"></div>
        </div>
        <div class="input-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            class="<%= locals.errors && locals.errors.password ? 'is-invalid' : '' %>"
          />
          <% if (locals.errors && locals.errors.password) { %>
          <div id="passwordError" class="error"><%= locals.errors.password.msg %></div>
          <% } %>
        </div>
        <div id="errores"></div>
        <div class="rememberMe">
          <label for="rememberMe">Recordarme</label>
          <input type="checkbox" id="rememberMe" name="rememberMe" />
        </div>

        <button type="submit">Iniciar Sesión</button>
        <div id="loginError" class="error"></div>
      </form>
    </main>
    <script src="/js/validateLogin.js"></script>
  </body>
</html>
