<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {loginCss: 'login' }) %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>

      <form class="form-login" action="/user/login" method="POST">
        <div class="login-text">
          <h2>Iniciar Sesión</h2>
        </div>
        <div class="input-group">
          <input type="text" id="email" name="email" placeholder="Email"
            value="<%= locals.old && locals.old.email ? locals.old.email : '' %>"
            class="<%= locals.errors && locals.errors.email ? 'is-invalid' : '' %>"
          />
          <% if (locals.errors && errors.email) { %>
          <p class="text-danger">
            <%= errors.email.msg %>
          </p>
          <% } %>
          <p id="errorEmail"></p>
        </div>
        <div class="input-group">

          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            class="<%= locals.errors && locals.errors.password ? 'is-invalid' : '' %>"
          />
          <% if (locals.errors && errors.password) { %>
            <p class="text-danger">
              <%= errors.password.msg %>
            </p>
            <% } %>
          <p id="errorPassword"></p>

        </div>
        <div class="rememberMe">
          <label for="rememberMe">Recordarme</label>
          <input type="checkbox" id="rememberMe" name="rememberMe" />
        </div>
        <div class="option">
          <a href="/user/register">  No tienes cuenta? Registrate </a>
        </div>

        <button type="submit" id="submit">Iniciar Sesión</button>
        <div id="loginError" class="error"></div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/validateLogin.js"></script>
  </body>
</html>
