<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <!-- Datalle del producto -->
        <section class="product-detail">
            <div class="container-product-detail">
                <div class="container-img">
                    <img src="<%= product.imagen %>" alt="<%= product.name %>">
                </div>
                <div class="container-info">
                    <h2 class="product-name"><%= product.nombre %></h2>
                    <p class="product-description"><%= product.descripcion %></p>
                    <p class="product-price">$<%= product.precio %></p>
                    <form action="/cart" method="POST">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <input type="hidden" name="name" value="<%= product.nombre %>">
                        <input type="hidden" name="price" value="<%= product.precio %>">
                        <input type="hidden" name="image" value="<%= product.imagen %>">
                        <input type="hidden" name="quantity" value="1">
                        <button class="btn btn-primary" type="submit">Agregar al carrito</button>
                    </form>
                </div>
            </div>
    </main>
</body>
</html>