<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { userProfileCss: 'userProfile'}) %>
<body>
    <%- include('./partials/header') %>
    <main>
      <section class="section-title">
        <a class="btn-back" href="/">
          <i class="fa-solid fa-arrow-left"></i>
          ATRÁS
        </a>
        <h1 class="title-profile">PERFIL</h1>
      </section>
      <section class="container-sections">
        <section class="section-image">
          <img src="/assets/images/users/<%= idUserToEdit.image_profile %>" alt="<%= idUserToEdit.first_name %>"/>
          <h2 class="title-image">FOTO DE PERFIL</h2>
        </section>
        <section class="section-profile">
          <!-- mostrar en  esta seccion los datos del usuario -->
          <div  class="container-data" >
              <h3>Nombre:</h3>
              <p><%=  idUserToEdit.first_name  %></p>
          </div>
          <div  class="container-data" >
              <h3>Apellido:</h3>
              <p><%=  idUserToEdit.last_name  %></p>
          </div>
          <div  class="container-data" >
              <h3>Teléfono:</h3>
              <p><%=  idUserToEdit.phone  %></p>
          </div>
          <div  class="container-data" >
              <h3>Email:</h3>
              <p><%=  idUserToEdit.email  %></p>
          </div>
          <div  class="container-data" >
              <h3>Fecha de nacimiento:</h3>
              <% 
                const fechaDB = new Date(idUserToEdit.birth_date) 
                const fecha = new Date(fechaDB.getTime() + fechaDB.getTimezoneOffset() * 60000);
              %>
                <p><%=  fecha.toLocaleDateString()  %></p>
          </div>
          <% if (idUserToEdit.rols.id == 1) { %>
            <div  class="container-data" >
              <h3>Rol:</h3>
              <p><%=  idUserToEdit.rols.name  %></p>
            </div>
          <% } %>
          <a class="btn-edit" href="/user/profile/edit/<%= idUserToEdit.id %>">EDITAR PERFIL</a>
        </section>
        <section class="section-compras">
          <h2>Historial de compras</h2>
          <div class="container-compras">
            <% idUserToEdit.orders.forEach(order => { %>
              <div class="card-compra">
                <h3>Fecha de compra:</h3>
                <p><%=  order.created_at  %></p>
                <h3>Total:</h3>
                <p><%=  order.total  %></p>
              </div> 
            <% }) %> 
        </section>
      </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>
