<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', { UserEditCss: 'userEdit'}) %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="section-title">
        <a class="btn-back" href="/user/profile/<%= userDB.id %>">
          <i class="fa-solid fa-arrow-left"></i>
          PERFIL
        </a>
        <h1 class="title-profile">EDITAR PERFIL</h1>
      </section>
      <section class="container-sections">
        <section class="section-image">
          <img
            src="/assets/images/users/<%= userDB.image_profile %>"
            alt="<%= userDB.first_name %>"
          />
          <h2 class="title-image">FOTO DE PERFIL</h2>
        </section>
        <form
          class="form-edition"
          action="/user/profile/edit/<%= userDB.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <fieldset class="datos-personales">
            <div class="container-input">
              <label for="name">Nombre</label>
              <input
                type="text"
                name="name"
                id="name"
                value="<%= locals.old && locals.old.name ? locals.old.name : userDB.first_name %>"
                class="<%= locals.errors && errors.name ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.name) { %>
              <div class="text-danger"><%= errors.name.msg %></div>
              <% } %>
            </div>
            <div class="container-input">
              <label for="lastName">Apellidos</label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                value="<%= locals.old && locals.old.lastName ? locals.old.lastName : userDB.last_name %>"
                class="<%= locals.errors && errors.lastName ? 'is-invalid' : '' %>"
                />
              <% if (locals.errors && errors.lastName) { %>
              <div class="text-danger"><%= errors.lastName.msg %></div>
              <% } %>
            </div>
            <div class="container-input">
              <label for="birthdate">Fecha de nacimiento</label>
              <input
                type="date"
                min="1960-01-01"
                max="2024-12-12"
                name="birthdate"
                id="birthdate"
                value="<%= locals.old && locals.old.birthdate ? locals.old.birthdate : userDB.birth_date.toISOString().slice(0, 10) %>"
                class="<%= locals.errors && errors.birthdate ? 'is-invalid' : '' %>"
                />
              <% if (locals.errors && errors.birthdate) { %>
              <div class="text-danger"><%= errors.birthdate.msg %></div>
              <% } %>
            </div>
          </fieldset>
          <fieldset class="datos-contacto">
            <div class="container-input">
              <label for="phone">Telefono</label>
              <input
                type="text"
                name="phone"
                id="phone"
                value="<%= locals.old && locals.old.phone ? locals.old.phone : userDB.phone %>"
                class="<%= locals.errors && errors.phone ? 'is-invalid' : '' %>"
                />
              <% if (locals.errors && errors.phone) { %>
              <div class="text-danger"><%= errors.phone.msg %></div>
              <% } %>
            </div>
            <div class="container-input">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                required
                value=" <%= locals.old && locals.old.email ? locals.old.email : userDB.email %>"
                class="<%= locals.errors && errors.email ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.email) { %>
              <div class="text-danger"><%= errors.email.msg %></div>
              <% } %>
            </div>
          </fieldset>
          <fieldset class="datos-adicionales">
            <div class="container-input">
              <label for="address">Domicilio</label>
              <input
                type="text"
                name="address"
                id="address"
                value="<%= locals.old && locals.old.address ? locals.old.address : userDB.address %>"
                class="<%= locals.errors && errors.address ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.domicilio) { %>
              <div class="text-danger"><%= errors.domicilio.msg %></div>
              <% } %>
            </div>
            <div class="container-input">
              <label for="imageProfile"
                >Imagen de perfil <%=userDB.image_profile%></label
              >
              <input
                type="file"
                name="imageProfile"
                id="imageProfile"
                value="<%= locals.old && locals.old.imageProfile ? locals.old.imageProfile : userDB.image_profile %>"
                class="<%= locals.errors && errors.imageProfile ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.imageProfile) { %>
              <div class="text-danger"><%= errors.imageProfile.msg %></div>
              <% } %>
            </div>
          </fieldset>
          <fieldset class="credenciales">
            <div class="container-input">
              <label for="password_actual">Contraseña actual</label>
              <input
                type="password"
                text="password"
                name="password_actual"
                id="password_actual"
                placeholder="Ingrese su contraseña"
                value="<%= locals.old && locals.old.password_actual ? locals.old.password_actual : '' %>"
                class="<%- locals.errors && errors.password_actual ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.password_actual) { %>
              <div class="text-danger"><%= errors.password_actual.msg %></div>
              <% } %>
              <div class="errorPassword"></div>
            </div>
            <div class="container-input">
              <label for="password_new">Nueva contraseña</label>
              <input
                type="password"
                text="password"
                name="password_new"
                id="password_new"
                placeholder="Ingrese su contraseña"
                value="<%= locals.old && locals.old.password_new ? locals.old.password_new : '' %>"
                class="<%- locals.errors && errors.password_new ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.password_new) { %>
              <div class="text-danger"><%= errors.password_new.msg %></div>
              <% } %>
              <div class="errorPassword"></div>
            </div>
            <div class="container-input">
              <label for="password_confirm">Confirmar nueva contraseña</label>
              <input
                type="password"
                text="password"
                name="password_confirm"
                id="password_confirm"
                placeholder="Confirme su contraseña"
                value="<%= locals.old && locals.old.password_confirm ? locals.old.password_confirm : '' %>"
                class="<%- locals.errors && errors.password_confirm ? 'is-invalid' : '' %>"
              />
              <% if (locals.errors && errors.password_confirm) { %>
              <div class="text-danger"><%= errors.password_confirm.msg %></div>
              <% } %>
              <div class="errorPassword"></div>
            </div>
          </fieldset>
          <fieldset class="botones">
            <button type="submit" value="edit">GUARDAR CAMBIOS</button>
          </fieldset>
        </form>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
