<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {homeCss: 'home', productCardCss: 'productCard', registerCss: 'register', userProfileCss: 'userProfile'}) %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1 class="title-edition">MI CUENTA</h1>

      <form
        class="form-edition"
        action="/user/profile/edit/<%= idUserToEdit.id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data" 
      >
        <fieldset class="personal-info">
          <div class="container-input">
            <label for="name">Nombre</label>
              <input 
              type="text" 
              name="name"
              id="name"
              value="<%= idUserToEdit.first_name %>">
          </div>
          <div class="container-input">
            <label for="lastName">Apellidos</label>
              <input 
              type="text"
              name="lastName"
              id="lastName"
              value="<%= idUserToEdit.last_name %>">
          </div>
          <div class="container-input">
            <label for="phone">Telefono</label>
              <input 
              type="number"
              name="phone"
              id="number"
              value="<%= idUserToEdit.phone %>">
          </div>
          <div class="container-input">
            <label for="nickName">Nombre de usuario</label>
              <input 
              type="text"
              name="nickname"
              id="nickname"
              value="<%= idUserToEdit.nick_name %>">
          </div>
          <div class="container-input">
            <label for="email">Email</label>
              <input 
              type="email"
              name="email"
              id="email"
              required
              value=" <%= idUserToEdit.email %>">

          </div>
          <div class="container-input">
            <label for="birthdate">Fecha de nacimiento</label>
              <input 
              type="date" 
              min="1960-01-01" 
              name="birthdate"
              id="birthdate"
              value="<%= idUserToEdit.birth_date %>">            
          </div>
          <div class="container-input">
            <label for="domicilio">Domicilio</label>
              <input 
              type="text"
              name="domicilio"
              id="domicilio"
              value="<%= idUserToEdit.address %>">            
          </div>
          <div class="container-input">
            <label for="imageProfile">Imagen de perfil <%=idUserToEdit.image_profile%></label>
              <input 
              type="file"
              name="imageProfile"
              id="imageProfile"
              value="">            
          </div>
        
        
        </fieldset>
      <button type="submit" value="edit">Guardar</button>
      </form>

        
    </main>
    <%- include("./partials/footer") %>
</body>
</html>