<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { homeCss: 'home', productCardCss: 'productCard', registerCss: 'register', userProfileCss: 'userProfile'}) %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1 class="title-register">Bienvenido: <%= idUserToEdit.first_name + " " + idUserToEdit.last_name  %></h1>
      <form
        class="form-register"
        action="/user/delete/<%=idUserToEdit.id%>?_method=DELETE"
        method="POST"
        enctype="multipart/form-data"
      >
        <fieldset class="personal-info">
          <div class="container-input">
            <label for="name">Nombre:</label>
                <div class="color-information-user">
                    <%=  idUserToEdit.first_name  %>
                </div>
          </div>
          <div class="container-input">
            <label for="name">Apellidos:</label>
                <div class="color-information-user">
                    <%=  idUserToEdit.last_name  %>
                </div>
          </div>
          <div class="container-input">
            <label for="phone">Nombre de usuario:</label>
                <div class="color-information-user">
                    <%=  idUserToEdit.nick_name  %>
                </div>
          </div>
          <div class="container-input">
            <label for="phone">Telefono:</label>
                <div class="color-information-user">
                    <%=  idUserToEdit.phone  %>
                </div>
          </div>
          <div class="container-input">
            <label for="name">Email:</label>
                <div class="color-information-user">
                    <%=  idUserToEdit.email  %>
                </div>
          </div>
          <% const fechaDesdeMySQL = idUserToEdit.birth_date;

          // Crear un objeto Date en base a la fecha de MySQL
          const fecha = new Date(fechaDesdeMySQL);
          
          // Obtener componentes de la fecha
          const dia = fecha.getDate();
          const mes = fecha.getMonth() + 1; // Los meses en JavaScript son indexados desde 0
          const año = fecha.getFullYear();
          
          // Formatear la fecha según tus necesidades
          const fechaFormateada = `${dia < 10 ? '0' : ''}${dia}-${mes < 10 ? '0' : ''}${mes}-${año}`; %>

          <div class="container-input">
            <label for="name">Fecha de nacimiento:</label>
                <div class="color-information-user">
                    <%=  fechaFormateada  %>
                </div>
          </div>
          <div class="container-input">
            <label for="name">Domicilio:</label>
                <div class="color-information-user">
                    <%=  idUserToEdit.address  %>
                </div>
          </div>
        </fieldset>
        <!-- <button onclick="" type="submit" value="edit">Editar</button> -->
        <a class="form-edition-a" href="/user/profile/edit/<%= idUserToEdit.id %>">Editar</a>
          <button type="submit">Eliminar Cuenta</button>
        
      </form>
      
    </main>
    <%- include("./partials/footer") %>
</body>
</html>