<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {uploadFormCss: 'uploadForm' }) %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form
        class="form-login"
        action="/products/create"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="input-group">
          <!-- NOMBRE -->
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" value="<%= locals.oldBody &&
          oldBody.name ? oldBody.name: "" %>" /> 
          <% if (locals.error && error.name) { %>
          <p><%= error.name.msg %></p>
          <% } %>
          <div id="errorName"></div>
        </div>
        <div class="input-group">
          <label for="description">Descripcion</label>
          <textarea name="description" id="description" rows="5">
            <%= locals.oldBody && oldBody.description ? oldBody.description: "" %>
          </textarea>
          <% if (locals.error && error.description) { %>
          <p><%= error.description.msg %></p>
          <% } %>
          <div id="errorDescription"></div>
        </div>
        <div class="input-group">
          <label for="price">Precio</label>
          <input type="number" id="price" name="price" value="<%= locals.oldBody
          && oldBody.price ? oldBody.price: "" %>" /> 
          <% if (locals.error && error.price) { %>
          <p><%= error.price.msg %></p>
          <% } %>
          <div id="errorPrice"></div>
        </div>
        <div class="input-group">
          <label for="brand">Marca</label>
          <select name="brand_id" id="brand">
            <option value="" disabled selected>Selecciona Marca</option>
            <% allBrands.forEach(brand => { %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
            <% }) %>
          </select>
          <% if (locals.error && error.brands) { %>
          <p><%= error.brands.msg %></p>
          <% } %>
          <div id="errorBrands"></div>
        </div>

        <div class="input-group">
          <!-- CATEGORIA -->
          <label for="category">Categoria</label>
          <select name="category_id" id="category">
            <option value="" disabled selected>Selecciona Categoria</option>
            <% allCategories.forEach(categories => { %>
            <option value="<%= categories.id %>"><%= categories.name %></option>
            <% }) %>
          </select>
          <% if (locals.error && error.categories) { %>
          <p><%= error.categories.msg %></p>
          <% } %>
          <div id="errorCategory"></div>
        </div>


        <fieldset class="input-container">

          <div class="input-group inputs-container">
            <label for="size"> Talle </label>
            <input type="text" id="size" name="size[]" value="<%= locals.oldBody
            && oldBody.size ? oldBody.size: "" %>" /> 
            <% if (locals.error && error.size) { %>
            <p><%= error.size.msg %></p>
            <% } %>
            <div class="errorSize"></div>
          </div>

          <div class="input-group">
            <label for="amount">Cantidad</label>
            <% if (locals.oldBody && oldBody.amount.length > 0) { %>
              <% oldBody.amount.forEach((amount, index) => { %>
                <input class="input-cantidad" type="number" id="amount"
                name="amount[<%= index %>]" value="<%= amount %>" /> 
              <% }) %>
            <% } else { %>
              <input class="input-cantidad" type="number" id="amount"
              name="amount[]" value="" /> 
            <% } %>
            <% if (locals.error && error.amount) { %>
            <p><%= error.amount.msg %></p>
            <% } %>
            <div class="errorAmount"></div>
          </div>
          <div class="input-group">
            <label for="color"> Color </label>
            <input type="text" id="color" name="color[]" value="<%=
            locals.oldBody && oldBody.color ? oldBody.color: "" %>" /> 
            <% if(locals.error && error.color) { %>
            <p><%= error.color.msg %></p>
            <% } %>
            <div class="errorColor"></div>
          </div>
        </fieldset>
        <button type="button" class="add show">Agregar</button>
        <div class="input-group">
          
          <input type="file" name="image_product" id="image_product" />
          <% if (locals.error && error.image_product) { %>
          <p><%= error.image_product.msg %></p>
          <% } %>
          <div id="errorImage"></div>
        </div>

        <button type="submit" class="cargar">Cargar</button>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/uploadProduct.js"></script>
    <!-- <script src="/js/createValidation.js"></script> -->
  </body>
</html>
