<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {uploadFormCss: 'uploadForm' }) %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form class="form-login" action="/products/create" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>
        <div class="input-group">
          <label for="descripcion">Descripcion</label>
          <textarea name="descripcion" id="descripcion" rows="5"></textarea>
        </div>
        <div class="input-group">
          <label for="precio">Precio</label>
          <input type="number" id="precio" name="precio" required />
      </div>
        <div class="input-group">
          <label for="cantidad">Cantidad</label>
          <input type="number" id="cantidad" name="cantidad" required />
        </div>
        <div class="input-group">
          <label for="categoria">Categoria</label>
          <select name="category_id" id="categoria" required>
            <option value="" disabled selected> Selecciona Categoria</option
              <% allCategories.forEach(categories => { %>
                <option value="<%= categories.id %>"><%= categories.name %></option>
              <% }) %>
          </select>
        </div>
        <div class="input-container">
          <div class="input-group">
            <label for="color">Color</label>
            <select name="color_id" id="color" required>
              <option value="" disabled selected> Selecciona color</option
                <% allColors.forEach(color => { %>
                  <option value="<%= color.id %>"><%= color.name %></option>
                <% }) %>
            </select>
          </div>
          <div class="input-group">
            <label for="size">Size</label>
            <select name="size_id" id="size" required>
              <option value="" disabled selected> Selecciona Talle</option
                <% allSizes.forEach(size => { %>
                  <option value="<%= size.id %>"><%= size.name %></option>
                <% }) %>
            </select>
          </div>
        </div>
        <div class="input-group">
          <input type="file" name="imagenProducto" />
        </div>
        <button type="submit" class="cargar">Cargar</button>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
