<!-- articles con los productos mostrando las propiedades desde el products.json -->
  <article class="card-product">
    <div class="icon-fav">
      <div>
        <i class="far fa-heart"></i>
      </div>
    </div>
    <a href="products/detail/<%= product.id %>">
    
      <img
        src="/assets/images/products/<%= product.images ? product.imagen : 'default-image.png'  %>"
        alt="<%= product.name %>"
      />
    </a>
    <div class="card-body">
      <h3 class="card-title"><%= product.name %></h3>
      <!-- <h3 class="card-title"> ejs archivo(product.nombre) </h3> -->
      <p class="card-precio">$<%= product.price %></p>
      <!-- <p class="card-precio">$ ejs archivo( product.precio) </p> -->
      <button class="card-button">Agregar</button>
    </div>
  </article>

